<!DOCTYPE html>
<html lang="en">

<script src="../static/js/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>secret page</title>
</head>
<body>

加密内容：<input  placeholder="请输入加密内容" id="name"/>



<script>
    function sendMessage() {
        var name  = $("#name").val();
        $.ajax({
            url: '/file/upload2/',
            dataType: 'json',
            type: 'POST',
            async: false,
            data: formData,
            processData: false, // 使数据不做处理
            contentType: false, // 不要设置Content-Type请求头
            success: function (data) {

            }
        });
    }
</script>
</body>
</html>